@charset "UTF-8";
/* CSS Document */
#section-1{
	background:url(../img/sct1.png) no-repeat 25% -120px #ccc7c9;
	}
.thumb1{
	background-image:none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../img/tn1.jpg', sizingMethod='scale');
	}
.thumb1:hover,
.thumb1:active {
	background-image:none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../img/tn1a.jpg', sizingMethod='scale');
}
.thumb2{
	background-image:none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../img/tn2.jpg', sizingMethod='scale');
	}
.thumb2:hover,
.thumb2:active {
	background-image:none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../img/tn2a.jpg', sizingMethod='scale');
}
.thumb3{
	background-image:none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../img/tn3.gif', sizingMethod='scale');
	}
.thumb3:hover,
.thumb3:active {
	background-image:none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../img/tn3a.gif', sizingMethod='scale');
}
.thumb4{
	background-image:none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../img/tn4.jpg', sizingMethod='scale');
	}
.thumb4:hover,
.thumb4:active {
	background-image:none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../img/tn4a.jpg', sizingMethod='scale');
}
.thumb5{
	background-image:none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../img/tn5.gif', sizingMethod='scale');
	}
.thumb5:hover,
.thumb5:active {
	background-image:none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../img/tn5a.gif', sizingMethod='scale');
}
.thumb6{
	background-image:none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../img/tn6.jpg', sizingMethod='scale');
	}
.thumb6:hover,
.thumb6:active {
	background-image:none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../img/tn6a.jpg', sizingMethod='scale');
}
.thumb7{
	background-image:none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../img/tn7.jpg', sizingMethod='scale');
	}
.thumb7:hover,
.thumb7:active {
	background-image:none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../img/tn7a.jpg', sizingMethod='scale');
}
.thumb8{
	background-image:none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../img/tn8.gif', sizingMethod='scale');
	}
.thumb8:hover,
.thumb8:active {
	background-image:none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../img/tn8a.gif', sizingMethod='scale');
}
.thumb9{
	background-image:none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../img/tn9.jpg', sizingMethod='scale');
	}
.thumb9:hover,
.thumb9:active {
	background-image:none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../img/tn9a.jpg', sizingMethod='scale');
}
.thumb10{
	background-image:none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../img/tn10.jpg', sizingMethod='scale');
	}
.thumb10:hover,
.thumb10:active {
	background-image:none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../img/tn10a.jpg', sizingMethod='scale');
}
.thumb11{
	background-image:none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../img/tn11.jpg', sizingMethod='scale');
	}
.thumb11:hover,
.thumb11:active {
	background-image:none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../img/tn11a.jpg', sizingMethod='scale');
}
.thumb12{
	background-image:none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../img/tn12.jpg', sizingMethod='scale');
	}
.thumb12:hover,
.thumb12:active {
	background-image:none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../img/tn12a.jpg', sizingMethod='scale');
}
.thumb13{
	background-image:none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../img/tn13.gif', sizingMethod='scale');
	}
.thumb13:hover,
.thumb13:active {
	background-image:none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../img/tn13a.gif', sizingMethod='scale');
}





.sct4a .logoPS{
	background:none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../img/logoPsBW.jpg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../img/logoPsBW.jpg', sizingMethod='scale')";
	}
.sct4a .logoAI{
	background:none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../img/logoAiBW.jpg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../img/logoAiBW.jpg', sizingMethod='scale')";
	}
.sct4a .logoFL{
	background:none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../img/logoFlBW.jpg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../img/logoFlBW.jpg', sizingMethod='scale')";
	}
.sct4a .logoJQUERY{
	background:none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../img/logojqeryBW.gif', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../img/logojqeryBW.gif', sizingMethod='scale')";
	}
.sct4a .logoHTML{
	background:none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../img/logohtmlBW.gif', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../img/logohtmlBW.gif', sizingMethod='scale')";
	}
.sct4a .logoCSS{
	background:none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../img/logocssBW.gif', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../img/logocssBW.gif', sizingMethod='scale')";
	}
	
	
	
	
.photothumb1{
	background-image:none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../img/ptn1.jpg', sizingMethod='scale');
	}
.photothumb1:hover,
.photothumb1:active {
	background-image:none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../img/ptn1a.jpg', sizingMethod='scale');
}
.photothumb2{
	background-image:none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../img/ptn2.jpg', sizingMethod='scale');
	}
.photothumb2:hover,
.photothumb2:active {
	background-image:none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../img/ptn2a.jpg', sizingMethod='scale');
}
.photothumb3{
	background-image:none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../img/ptn3.jpg', sizingMethod='scale');
	}
.photothumb3:hover,
.photothumb3:active {
	background-image:none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../img/ptn3a.jpg', sizingMethod='scale');
}
.photothumb4{
	background-image:none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../img/ptn4.jpg', sizingMethod='scale');
	}
.photothumb4:hover,
.photothumb4:active {
	background-image:none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../img/ptn4a.jpg', sizingMethod='scale');
}
.photothumb5{
	background-image:none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../img/ptn5.jpg', sizingMethod='scale');
	}
.photothumb5:hover,
.photothumb5:active {
	background-image:none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../img/ptn5a.jpg', sizingMethod='scale');
}
.photothumb6{
	background-image:none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../img/ptn6.jpg', sizingMethod='scale');
	}
.photothumb6:hover,
.photothumb6:active {
	background-image:none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../img/ptn6a.jpg', sizingMethod='scale');
}
.photothumb7{
	background-image:none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../img/ptn7.jpg', sizingMethod='scale');
	}
.photothumb7:hover,
.photothumb7:active {
	background-image:none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../img/ptn7a.jpg', sizingMethod='scale');
}
.photothumb8{
	background-image:none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../img/ptn8.jpg', sizingMethod='scale');
	}
.photothumb8:hover,
.photothumb8:active {
	background-image:none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../img/ptn8a.jpg', sizingMethod='scale');
}



.sct10 .myImage{
	background-image:none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../img/me.jpg', sizingMethod='scale');
}